# Base de datos Supabase
VITE_SUPABASE_URL=https://ifmtuucsonuzuxauolvt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmbXR1dWNzb251enV4YXVvbHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3OTkxNjMsImV4cCI6MjEwNjM3NTE2M30.lGjIIBmW0kfi8QAf5SNynlRDKsX3g1hXgTzPOVflAyU
VITE_TECNODIEL_PORTAL_URL=https://tecnodiel.vercel.app

# Automatización Cloudflare Pages (100% Gratis para Webs Comerciales)
VITE_CLOUDFLARE_ACCOUNT_ID=
VITE_CLOUDFLARE_API_TOKEN=
VITE_CLOUDFLARE_BASE_DOMAIN=pages.dev
