# Base de datos Supabase
VITE_SUPABASE_URL=https://wkzbgxsknkhixclgvrli.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndremJneHNrbmtoaXhjbGd2cmxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0Nzk0NzUsImV4cCI6MjEwNzA1NTQ3NX0.MpIo0xJQC3MdJ4HQewEs3stfTF-I8uWXZgcJ6sS5uVw
VITE_TECNODIEL_PORTAL_URL=https://tecnodiel.vercel.app

# Automatización Cloudflare Pages (100% Gratis para Webs Comerciales)
VITE_CLOUDFLARE_ACCOUNT_ID=
VITE_CLOUDFLARE_API_TOKEN=
VITE_CLOUDFLARE_BASE_DOMAIN=pages.dev
